<!--The content below is only a placeholder and can be replaced.-->




<div class="navBar">
<h1>welcome to my world</h1>
</div>



<!-- <div class="button">
 
<button>Enter Here</button>

</div> -->


<div class="center">
    <button routerLink="authentication">
      Enter Here</button>
</div>

 <div>
<a routerLink="authentication">hello click me</a>
</div>
<router-outlet></router-outlet>

<div>
<a routerLink="secondpage">
Second page 
</a>

</div>
<router-outlet></router-outlet>
<!--
<div style="margin:0 auto;">
<app-authentication> </app-authentication>  

</div>




<div>
<app-secondpage> </app-secondpage>
</div>
-->